<div class="container-fluid">
    <div class="footer">
        <div class="logo-block">
            <amp-img src="/assets/images/pdis-logo-final-clear.png" alt="" layout="fixed" height="63" width="180"></amp-img>
            <p class="smallcopy">
                The website is built by PDIS <br>
                We incubate and facilitate public digital innovation and service.
            </p>
        </div>
        <div class="text-block">
            <p class="smallcopy">
                本站原始碼： Github Repo. <br>
                電話： 02-3356-6577<br>
                Email： hello@pdis.tw<br>
                建議最佳解析度為 1*1 以上
            </p>
        </div>
    </div>
</div>