.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer .logo-block {
    display: flex;
    align-items: center;
    height: 100px;
}

.footer .logo-block img {
    height: 55px;
}

.footer .logo-block p {
    margin-left: 80px;
    font-size: 8px;
}