<!DOCTYPE html>
<html ⚡="">
<head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="google-site-verification" content="gpNm_Tu4lAHBGbqL-_Vx9SO8_mkoYcqMr57TD7FigAQ" />
    <title>{{site.title}}</title>
    <link rel="canonical" href="{{site.url}}">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono%7cPT+Serif:400,400i%7cLato:100,300,400,700,800,900" rel="stylesheet">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script async="" src="https://cdn.ampproject.org/v0.js"></script>
    <style amp-boilerplate="">body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate="">body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>
      {% include_relative assets/css/reset.css %}
      {% include_relative assets/css/style.css %}
      {% include_relative assets/css/nav.css %}
      {% include_relative assets/css/footer.css %}
    </style>
    <title>{{site.title}}</title>
</head>
<body>
    {%- include nav.html -%}
    <div class="main-content">
        {{content}}
    </div>
    {%- include footer.html -%}
</body>
</html>